body {
  background:            linear-gradient(to left top, blue, rgb(190, 0, 0));
  background-attachment: fixed; /*edit*/
}

.centered{
    text-align: center;
    margin: auto;
}

.screen{
  position: fixed;
  z-index: -100;
}

.right{
  text-align: right;
  margin: auto;
}

.button {
    background-color: #4a99be62; /* Green */
    color: white;
    font-family: monospace;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
  }
.button:hover {
    background-color: #39948c; /* Green */
    margin: auto;
    color: rgb(255, 255, 255);
  }
.button1{
    padding: 10px 30px;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4d4d4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 4px;
  margin: auto;
}
.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    color: rgb(0, 140, 255);
    text-align: center;
    font-family: Montserrat;
  }
p1 {
    color: red;
    text-align: center;
    margin: auto;
    font-family: monospace;
    padding: 20px
  }
p2 {
    color: purple;
    text-align: center;
    margin: auto;
    font-family: monospace;
    margin: 70px;
}

br {
  line-height: 200%;
}

brbig{
  line-height: 300px;
}
